<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="profile-header-image"></div>
    <mat-card-title>{{userId}}</mat-card-title>
    <mat-card-subtitle>{{sociallink}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput [(ngModel)]="userId">
      </mat-form-field>
      <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Social Network link</mat-label>
        <input matInput [(ngModel)]="sociallink">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="showProgressBar" (click)="saveChnage()" color="primary">save</button>
    <button mat-raised-button color="warn">social link</button>
  </mat-card-actions>
  <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
</mat-card>
