<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>send notification</h2>
      <mat-error *ngIf="userNotExist">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <mat-label>to</mat-label>
        <input matInput placeholder="to" formControlName="userId" required>
        <mat-error>
          Please provide a valid destination userId
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>comment</mat-label>
        <input matInput placeholder="comment" formControlName="message" required>
        <mat-error>
          Please write message
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">send</button>
    </form>
  </mat-card-content>
</mat-card>
